# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the code ownders defined below will be requested for
# review when someone opens a pull request.
*       @bratwurst-productions/the-a-team
