#start-game {
	width: 100%;
}

#footer, .jumbotron {
	text-align: center;
}

.jumbotron {
	padding: 0 0 1rem 0;
}

.btn-danger{
	margin: 20px;
}

.rightcol {
	margin-left: 1rem;
}

footer {
	width: 100%;
	height: 5rem;
	background-color: transparent;	
	vertical-align: middle;
}

p#footer {
	margin: 2rem 0;
}



#diceimage{
	height:20%;
	width: 20%;
}