body {
	background-color: darkslategray;
}

.row {
	margin-right: 0;
}

#start-game {
	width: 100%;
}

#footer, .jumbotron {
	text-align: center;
}

.jumbotron {
	padding: 0 0 1rem 0;
	background-color: transparent;
	color: white;
}

.game-btn {
	width: 100%;
}

.rightcol {
	margin-left: 1rem;
}

footer {
	width: 100%;
	height: 5rem;
}

p#footer {
	margin: 2rem 0;
	color: orangered;
    font-weight: 500;
}

.diceimage{
	height:20%;
	width: 20%;
	padding: 10px;
}

.card-header {
	color: white;
	background-color: transparent;
	border: 0;
}

.invisible {
	display: none;
}